
.menu_style:link {
  text-decoration: none;
  color: black;
  font-size: 2rem;
  font-family:'permanent-maker';
}

.menu_style:visited {
  text-decoration: none;
  color: black;
}

.menu_style:active {
  text-decoration: none;
  color: black;
}
.menu_loginout {
  text-decoration: none;
  color: black;
  font-size: 1rem;
  font-family:'permanent-maker';
}

.menu_write:link {
  color: black;
}
.menu_write:visited {
  color: black;
}
.menu_write:active {
  color: black;
 
}

.menu_burger {
  text-decoration: none;
  color: black;
  font: 1rem;
}

.menu_twin {
  margin-left: 0.8rem;
  margin-right: 0.3rem;
}
